@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Roboto:wght@100;300;400;500;700;900&family=Shadows+Into+Light&family=Water+Brush&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
}
nav > ul {
  background-color: #00bdfe;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  padding: 0 3rem;
}
nav > ul > li {
  margin: 0 20px;
}
nav > button {
  border: 1px solid #00bdfe;
  border-radius: 10px;
  padding: 15px 25px;
  color: #00bdfe;
  background-color: white;
  transition: 0.5s ease all;
}
nav > button:hover {
  background-color: #00bdfe;
  color: white;
}
.burger_menu {
  display: none;
  font-size: 1.4rem;
  color: #00bdfe;
}
header {
  background-image: url(https://templatemo.com/templates/templatemo_576_snapx_photography/assets/images/banner-bg.jpg);
  background-position: center;
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.header_info {
  max-width: 1000px;
  color: white;
  text-align: center;
}
.header_info > h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.line {
  background-color: gray;
  height: 1px;
}
.header_info > p {
  margin: 3rem 0 4rem 0;
}
.btn_container > button:nth-child(1) {
  padding: 15px 25px;
  background: transparent;
  border: solid white;
  color: white;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
}
.btn_container > button:nth-child(1):hover {
  background-color: white;
  color: #00bdfe;
}
.btn_container > button:nth-child(2) {
  all: unset;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn_container > button:nth-child(2):hover {
  color: #00bdfe;
}
.profile_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: -80px;
  flex-wrap: wrap;
}
.profile_container > article {
  width: 400px;
  height: 300px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.profile_container > article > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile_overlay {
  position: absolute;
  width: 100%;
  height: 0;
  background-color: rgba(245, 245, 245, 0.764);
  bottom: 0;
  z-index: 2;
  transition: 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.profile_container > article:hover .profile_overlay {
  height: 100%;
}

.profile_overlay > h2 {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #00bdfe;
}

.profile_overlay > ul {
  list-style: none;
}

.profile_overlay > ul > li {
  margin: 1rem 0;
}

  /*CORUSEL SECTION STYLES */
  /*note: no media queries used*/
.corusel_section{
  background-image: url(https://templatemo.com/templates/templatemo_576_snapx_photography/assets/images/closed-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 5rem 1rem;
}
.corusel_section>p{
color: #00bdfe;
margin-bottom: 1rem;
}
.corusel_section>h2{
  font-size: 1.7rem;
}
.corusel_section>main{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 4rem 0 1rem 0;
}
.winner_card{
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  
}

.winner_img{
  position: relative;
  
}

.winner_img>img{
  width: 100%;
  height: 100%;
}

.winner_overlay{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  top: -40px;
  transition: 0.2s ease;
}

.winner_overlay > p{
  padding: 10px;
  background-color: white;
  font-size: 14px;
  border-radius: 10px;
  color: #00bdfe;
  font-weight: 600;
  cursor: pointer;
}

.winner_card:hover .winner_overlay{
  top: 30px;
  transition: 0.5s ease;
}

.winner_info{
  padding: 2rem 1rem;
}

.winner_info div{
  display: flex;
  justify-content: space-between;
}
.winner_info div>p{
color: grey;
}
.winner_info>div:nth-child(1){
  margin-bottom: 13px;
}
.corusel_section>button{
  all: unset;
  border: 1px solid #00bdfe;
  padding: 12px 20px;
  border-radius: 10px;
  color: #00bdfe;
  transition: .5s ease all;
  cursor: pointer;
}
.corusel_section>button:hover{
  background-color: #00bdfe;
  color: white;
}
/*CORUSEL SECTION STYLES */
@media only screen and (max-width: 1300px) {
  .profile_container > article:nth-child(2),
  .profile_container > article:nth-child(3) {
    display: none;
  }
  .profile_container > article:nth-child(1) {
    width: 800px;
    height: 500px;
  }
}

@media only screen and (max-width: 900px) {
  nav > ul {
    display: none;
  }
  .burger_menu {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  nav > button {
    display: none;
  }
  .header_info > h1 {
    font-size: 2rem;
  }
  .profile_container {
    top: -10px;
  }
}
